<!-- =========={ FOOTER }==========  -->
{% if page.path == '/' %}
    <footer class="border-t text-slate-800 dark:bg-slate-900 dark:text-slate-200 border-slate-200 dark:border-gray-700 print:hidden">
        {% # 自定义导航菜单 %}
        <div class="mx-auto max-w-7xl p-2 space-x-2">
            {{ site.settings.footer_menu_html }}
        </div>
        {% # 底部备案和链接 %}
        <div class="mx-auto max-w-7xl p-2 sm:p-4">
            <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex space-x-2 text-sm text-gray-500 sm:text-center dark:text-gray-400">
                <a href="{{site.index_path}}" class="flex items-center">
                {% assign logo = 'images/logo.png' | asset_url %}
                <img src="{{ site.favicon_url | default: logo  }}" class="h-8 mr-3" alt="{{ site.name }} Logo">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ site.name }}</span>
                </a>
            </div>
            <div class="hidden mt-4 space-x-6 sm:flex sm:justify-center sm:mt-0">
                <div>©  {{ site.settings.copyright_info }}<span class="md:hidden lg:inline"> {{ 'generic.copyright' | t }}.</span></div>
            </div>
            </div>
        </div>
    </footer>
{% endif %}


<!-- =========={ SCROLL TO TOP }==========  -->
<a href="#" class="back-top fixed p-4 rounded bg-gray-100 border border-gray-200 text-gray-500 dark:bg-gray-900 dark:border-gray-800 end-4 bottom-4 hidden" aria-label="Scroll To Top">
    <svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
    </svg>
</a>