
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative py-12 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg-planet.jpg' | asset_url }}" alt="title">
      <!-- background overlay -->
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
          <!-- content -->
          <div class="max-w-full w-full lg:w-7/12 px-4">
            <nav aria-label="breadcrumb">
              <ol class="flex flex-wrap justify-center bg-transparent text-sm mb-0 space-x-1">
                <li>
                  <a href="#" class="text-gray-200 hover:text-white">
                    Home
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li>
                  <a href="/s/index" class="text-gray-200 hover:text-white">
                    Snippets
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li class="hidden md:block text-white" aria-current="page">Slider Sections</li>
              </ol>
            </nav>

            <div class="mt-0 pt-6 text-center">
              <h1 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-white">Slider Sections</h1>    
              <hr class="block w-12 h-0.5 mx-auto my-5 bg-yellow-300 border-yellow-300">       
            </div>
          </div><!-- end content -->
        </div>
      </div>
    </div><!-- End hero -->

    <!-- =========={ SNIPPETS }==========  -->
    <div id="snippets" class="relative pt-12 bg-white dark:bg-gray-800">
      <div class="container mx-auto px-6 lg:px-4">
        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4">
          <div x-data="{ tabs: 1 }" class="flex-shrink w-full max-w-full border bg-gray-50 border-gray-200 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 mb-20">
            <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white dark:bg-gray-800 dark:border-gray-700 sm:py-4 sm:px-6 sm:items-baseline">
              <div class="flex-shrink min-w-0 flex items-center">
                Slider Sections style 11
              </div>
              <div class="ms-4 flex flex-shrink-0 items-center">
                <div class="flex items-center text-sm md:text-base">
                  <button type="button" @click="tabs = 1" :class="{'bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-80 dark:text-gray-100': tabs === 1 }" class="inline-block rounded-lg font-medium leading-none py-3 px-4 focus:outline-none bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-40 dark:hover:text-gray-100">
                    Preview
                  </button>
                  <button type="button" @click="tabs = 2" :class="{'bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-80 dark:text-gray-100': tabs === 2 }" class="ms-2 hover:text-primary-600 focus:text-primary-600 inline-block rounded-lg font-medium leading-none py-3 px-4 focus:outline-none bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-40 dark:hover:text-gray-100">
                    Code
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div x-show="tabs === 1">
                <!-- Slider start -->
                <div id="slider" class="relative bg-primary-900">
                  <div class="slider-slider nav-inset-button nav-light-dots carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": true, "autoPlay": 5000 }'>
                    <div class="w-full px-0 py-12 z-0" style="min-height: 520px;background-image: url({{ 'images/img-min/marketing.jpg' | asset_url }});background-size: cover;">

                      <!-- background overlay -->
                      <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"></div>

                      <div class="container xl:max-w-6xl mx-auto px-4">
                        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
                          <!-- content -->
                          <div class="max-w-full px-4 w-full md:w-10/12">
                            <div class="mt-0 py-6 lg:py-12 text-center">
                              <h1 class="text-3xl md:text-4xl leading-normal md:leading-normal font-semibold text-white mb-12">We Design and Develop Beautiful<br>Sites for your Business</h1>
                              <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" href="#about">
                                How We Work ?
                              </a>
                            </div>
                          </div><!-- end content -->
                        </div>
                      </div>
                    </div>

                    <div class="w-full px-0 py-12 z-0" style="min-height: 520px;background-image: url({{ 'images/img-min/advertising.jpg' | asset_url }});background-size: cover;">
                      <!-- background overlay -->
                      <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"></div>

                      <div class="container xl:max-w-6xl mx-auto px-4">
                        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
                          <!-- content -->
                          <div class="max-w-full px-4 w-full md:w-10/12">
                            <div class="mt-0 py-6 lg:py-12 text-center">
                              <h2 class="text-3xl md:text-4xl leading-normal md:leading-normal font-semibold text-white mb-12">Developing a New Concept<br>With our Experience</h2>
                              <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" href="#services">
                                Our Services
                              </a>
                            </div>
                          </div><!-- end content -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end slider-->
              </div>
              <div x-show="tabs === 2" class="pt-6 px-6 pb-0">
                <pre>
                  <code class="language-html" data-lang="html">
                    &lt;!-- Slider start --&gt;
                    &lt;div id="slider" class="relative bg-primary-900"&gt;
                      &lt;div class="hero-slider nav-inset-button nav-light-dots carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": true, "autoPlay": 5000 }'&gt;
                        &lt;div class="w-full px-0 py-12 z-0" style="min-height: 520px;background-image: url('src/img-min/human/marketing.jpg');background-size: cover;"&gt;

                          &lt;!-- background overlay --&gt;
                          &lt;div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"&gt;&lt;/div&gt;

                          &lt;div class="container xl:max-w-6xl mx-auto px-4"&gt;
                            &lt;div class="flex flex-wrap flex-row -mx-4 items-center justify-center"&gt;
                              &lt;!-- content --&gt;
                              &lt;div class="max-w-full px-4 w-full md:w-10/12"&gt;
                                &lt;div class="mt-0 py-6 lg:py-12 text-center"&gt;
                                  &lt;h1 class="text-3xl md:text-4xl leading-normal md:leading-normal font-semibold text-white mb-12"&gt;We Design and Develop Beautiful&lt;br&gt;Sites for your Business&lt;/h1&gt;
                                  &lt;a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" href="#about"&gt;
                                    How We Work ?
                                  &lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;&lt;!-- end content --&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="w-full px-0 py-12 z-0" style="min-height: 520px;background-image: url('src/img-min/human/advertising.jpg');background-size: cover;"&gt;
                          &lt;!-- background overlay --&gt;
                          &lt;div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"&gt;&lt;/div&gt;

                          &lt;div class="container xl:max-w-6xl mx-auto px-4"&gt;
                            &lt;div class="flex flex-wrap flex-row -mx-4 items-center justify-center"&gt;
                              &lt;!-- content --&gt;
                              &lt;div class="max-w-full px-4 w-full md:w-10/12"&gt;
                                &lt;div class="mt-0 py-6 lg:py-12 text-center"&gt;
                                  &lt;h1 class="text-3xl md:text-4xl leading-normal md:leading-normal font-semibold text-white mb-12"&gt;Developing a New Concept&lt;br&gt;With our Experience&lt;/h2&gt;
                                  &lt;a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" href="#services"&gt;
                                    Our Services
                                  &lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;&lt;!-- end content --&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;&lt;!-- end slider--&gt;
                  </code>
                </pre>
              </div>
            </div>
          </div>

          <div x-data="{ tabs: 1 }" class="flex-shrink w-full max-w-full border bg-gray-50 border-gray-200 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 mb-20">
            <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white dark:bg-gray-800 dark:border-gray-700 sm:py-4 sm:px-6 sm:items-baseline">
              <div class="flex-shrink min-w-0 flex items-center">
                Slider Sections style 2
              </div>
              <div class="ms-4 flex flex-shrink-0 items-center">
                <div class="flex items-center text-sm md:text-base">
                  <button type="button" @click="tabs = 1" :class="{'bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-80 dark:text-gray-100': tabs === 1 }" class="inline-block rounded-lg font-medium leading-none py-3 px-4 focus:outline-none bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-40 dark:hover:text-gray-100">
                    Preview
                  </button>
                  <button type="button" @click="tabs = 2" :class="{'bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-80 dark:text-gray-100': tabs === 2 }" class="ms-2 hover:text-primary-600 focus:text-primary-600 inline-block rounded-lg font-medium leading-none py-3 px-4 focus:outline-none bg-gray-100 text-primary-700 dark:bg-gray-900 dark:bg-opacity-40 dark:hover:text-gray-100">
                    Code
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div x-show="tabs === 1">
                <!-- Slider start -->
                <div id="project" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
                  <div class="container xl:max-w-6xl mx-auto px-4">
                    <!-- section header -->
                    <header class="text-center mx-auto mb-12 lg:px-20">
                      <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Latest Project</h2>
                      <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
                      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Take a look at some of the iOS and Android apps we developed</p>
                    </header><!-- end section header -->

                    <div class="flex flex-wrap flex-row -mx-4 items-center">
                      <div class="w-full lg:w-10/12 px-4 mx-auto">
                        <!-- screenshot slider -->
                        <div class="carousel nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": false, "imagesLoaded": true }'>
                          <div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center">
                            <div class="slider-item">
                              <figure class="relative">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000">
                                  <!-- Clip path image -->
                                  <defs>
                                    <clipPath id="svgf3">
                                      <rect x="52" y="10" width="380" height="818"/>
                                    </clipPath>
                                  </defs>

                                  <!-- Phone screen -->
                                  <image clip-path="url(#svgf3)" xlink:href="../{{ 'images/img-min/app1.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"></image>

                                  <!-- Phone cover -->
                                  <image xlink:href="../{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"></image>
                                </svg>
                              </figure>
                            </div>
                          </div>
                          <div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center">
                            <div class="slider-item">
                              <figure class="relative">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000">
                                  <!-- Clip path image -->
                                  <defs>
                                    <clipPath id="svgf4">
                                      <rect x="52" y="10" width="380" height="818"/>
                                    </clipPath>
                                  </defs>

                                  <!-- Phone screen -->
                                  <image clip-path="url(#svgf4)" xlink:href="../{{ 'images/img-min/app2.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"></image>

                                  <!-- Phone cover -->
                                  <image xlink:href="../{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"></image>
                                </svg>
                              </figure>
                            </div>
                          </div>
                          <div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center">
                            <div class="slider-item">
                              <figure class="relative">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000">
                                  <!-- Clip path image -->
                                  <defs>
                                    <clipPath id="svgf5">
                                      <rect x="52" y="10" width="380" height="818"/>
                                    </clipPath>
                                  </defs>

                                  <!-- Phone screen -->
                                  <image clip-path="url(#svgf5)" xlink:href="../{{ 'images/img-min/app3.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"></image>

                                  <!-- Phone cover -->
                                  <image xlink:href="../{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"></image>
                                </svg>
                              </figure>
                            </div>
                          </div>
                          <div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center">
                            <div class="slider-item">
                              <figure class="relative">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000">
                                  <!-- Clip path image -->
                                  <defs>
                                    <clipPath id="svgf6">
                                      <rect x="52" y="10" width="380" height="818"/>
                                    </clipPath>
                                  </defs>

                                  <!-- Phone screen -->
                                  <image clip-path="url(#svgf6)" xlink:href="../{{ 'images/img-min/app4.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"></image>

                                  <!-- Phone cover -->
                                  <image xlink:href="../{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"></image>
                                </svg>
                              </figure>
                            </div>
                          </div>
                          <div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center">
                            <div class="slider-item">
                              <figure class="relative">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000">
                                  <!-- Clip path image -->
                                  <defs>
                                    <clipPath id="svgf7">
                                      <rect x="52" y="10" width="380" height="818"/>
                                    </clipPath>
                                  </defs>

                                  <!-- Phone screen -->
                                  <image clip-path="url(#svgf7)" xlink:href="../{{ 'images/img-min/app5.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"></image>

                                  <!-- Phone cover -->
                                  <image xlink:href="../{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"></image>
                                </svg>
                              </figure>
                            </div>
                          </div>
                        </div><!-- end screenshot slider -->
                      </div>
                    </div>
                  </div>
                </div><!-- End slider-->
              </div>
              <div x-show="tabs === 2" class="pt-6 px-6 pb-0">
                <pre>
                  <code class="language-html" data-lang="html">
                    &lt;!-- Slider start --&gt;
                    &lt;div id="project" class="relative py-20 md:py-24 bg-white dark:bg-gray-800"&gt;
                      &lt;div class="container xl:max-w-6xl mx-auto px-4"&gt;
                        &lt;!-- section header --&gt;
                        &lt;header class="text-center mx-auto mb-12 lg:px-20"&gt;
                          &lt;h2 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100"&gt;Latest Project&lt;/h2&gt;
                          &lt;hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700"&gt;
                          &lt;p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2"&gt;Take a look at some of the iOS and Android apps we developed&lt;/p&gt;
                        &lt;/header&gt;&lt;!-- end section header --&gt;

                        &lt;div class="flex flex-wrap flex-row -mx-4 items-center"&gt;
                          &lt;div class="w-full lg:w-10/12 px-4 mx-auto"&gt;
                            &lt;!-- screenshot slider --&gt;
                            &lt;div class="carousel nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": false, "imagesLoaded": true }'&gt;
                              &lt;div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center"&gt;
                                &lt;div class="slider-item"&gt;
                                  &lt;figure class="relative"&gt;
                                    &lt;svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000"&gt;
                                      &lt;!-- Clip path image --&gt;
                                      &lt;defs&gt;
                                        &lt;clipPath id="svgf3"&gt;
                                          &lt;rect x="52" y="10" width="380" height="818"/&gt;
                                        &lt;/clipPath&gt;
                                      &lt;/defs&gt;

                                      &lt;!-- Phone screen --&gt;
                                      &lt;image clip-path="url(#svgf3)" xlink:href="{{ 'images/img-min/app1.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"&gt;&lt;/image&gt;

                                      &lt;!-- Phone cover --&gt;
                                      &lt;image xlink:href="{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"&gt;&lt;/image&gt;
                                    &lt;/svg&gt;
                                  &lt;/figure&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center"&gt;
                                &lt;div class="slider-item"&gt;
                                  &lt;figure class="relative"&gt;
                                    &lt;svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000"&gt;
                                      &lt;!-- Clip path image --&gt;
                                      &lt;defs&gt;
                                        &lt;clipPath id="svgf4"&gt;
                                          &lt;rect x="52" y="10" width="380" height="818"/&gt;
                                        &lt;/clipPath&gt;
                                      &lt;/defs&gt;

                                      &lt;!-- Phone screen --&gt;
                                      &lt;image clip-path="url(#svgf4)" xlink:href="{{ 'images/img-min/app2.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"&gt;&lt;/image&gt;

                                      &lt;!-- Phone cover --&gt;
                                      &lt;image xlink:href="{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"&gt;&lt;/image&gt;
                                    &lt;/svg&gt;
                                  &lt;/figure&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center"&gt;
                                &lt;div class="slider-item"&gt;
                                  &lt;figure class="relative"&gt;
                                    &lt;svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000"&gt;
                                      &lt;!-- Clip path image --&gt;
                                      &lt;defs&gt;
                                        &lt;clipPath id="svgf5"&gt;
                                          &lt;rect x="52" y="10" width="380" height="818"/&gt;
                                        &lt;/clipPath&gt;
                                      &lt;/defs&gt;

                                      &lt;!-- Phone screen --&gt;
                                      &lt;image clip-path="url(#svgf5)" xlink:href="{{ 'images/img-min/app3.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"&gt;&lt;/image&gt;

                                      &lt;!-- Phone cover --&gt;
                                      &lt;image xlink:href="{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"&gt;&lt;/image&gt;
                                    &lt;/svg&gt;
                                  &lt;/figure&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center"&gt;
                                &lt;div class="slider-item"&gt;
                                  &lt;figure class="relative"&gt;
                                    &lt;svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000"&gt;
                                      &lt;!-- Clip path image --&gt;
                                      &lt;defs&gt;
                                        &lt;clipPath id="svgf6"&gt;
                                          &lt;rect x="52" y="10" width="380" height="818"/&gt;
                                        &lt;/clipPath&gt;
                                      &lt;/defs&gt;

                                      &lt;!-- Phone screen --&gt;
                                      &lt;image clip-path="url(#svgf6)" xlink:href="{{ 'images/img-min/app4.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"&gt;&lt;/image&gt;

                                      &lt;!-- Phone cover --&gt;
                                      &lt;image xlink:href="{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"&gt;&lt;/image&gt;
                                    &lt;/svg&gt;
                                  &lt;/figure&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="max-w-full w-full md:w-1/2 lg:w-1/3 px-24 md:px-12 text-center"&gt;
                                &lt;div class="slider-item"&gt;
                                  &lt;figure class="relative"&gt;
                                    &lt;svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.000000 906.000000"&gt;
                                      &lt;!-- Clip path image --&gt;
                                      &lt;defs&gt;
                                        &lt;clipPath id="svgf7"&gt;
                                          &lt;rect x="52" y="10" width="380" height="818"/&gt;
                                        &lt;/clipPath&gt;
                                      &lt;/defs&gt;

                                      &lt;!-- Phone screen --&gt;
                                      &lt;image clip-path="url(#svgf7)" xlink:href="{{ 'images/img-min/app5.jpg' | asset_url }}" height="92%" width="100%" style="transform:translateY(30px);"&gt;&lt;/image&gt;

                                      &lt;!-- Phone cover --&gt;
                                      &lt;image xlink:href="{{ 'images/img-min/iphone-dark.png' | asset_url }}" height="100%" width="100%"&gt;&lt;/image&gt;
                                    &lt;/svg&gt;
                                  &lt;/figure&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;&lt;!-- end screenshot slider --&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;&lt;!-- End slider--&gt;
                  </code>
                </pre>
              </div>
            </div>
          </div>

        </div><!-- end row -->
      </div>
    </div><!-- End snippets -->
  </main>