<!DOCTYPE html>
<html lang="{{ site.language }}" class="h-full">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% meta_tags %}

    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'css/prism.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}

    {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
    {% if true %} {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}
    {{ site.settings.head_html }}
    
  </head>
  <body class="pt-20 font-sans text-base font-normal text-gray-700 w-full h-full">

    {% render 'header' %}
    {{ content_for_layout }}
    
    <!-- plugins js -->
    {{ 'javascripts/plugins/jarallax/dist/jarallax.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/lightgallery.js/dist/js/lightgallery.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/lightgallery.js/demo/js/lg-thumbnail.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/lightgallery.js/demo/js/lg-video.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/flickity/dist/flickity.pkgd.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/typed.js/dist/typed.umd.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/vanilla-lazyload/dist/lazyload.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/hc-sticky/dist/hc-sticky.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/plugins/wow.js/dist/wow.min.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/prism.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/theme.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
  </body>
</html>
