<!-- =========={ MAIN }==========  -->
<main id="content">
  <div class="container mx-auto px-4 pt-16 pb-6">
    <div class="flex flex-wrap flex-row -mx-4">
      <!-- column -->
      <div class="flex-shrink hidden lg:flex lg:w-1/5 px-4">
        <!--navigation-->
        <div class="mb-12 lg:mb-4 pb-12 lg:-ms-4 lg:-me-4 lg:pb-28 overflow-y-auto h-72 lg:h-screen mh-screen lg:fixed xl:pe-4 xl:w-56 border-e border-gray-200">
          <nav x-data="{selected:0}" class="relative flex flex-wrap items-center justify-between">
            <h1 class="text-2xl font-bold text-gray-800 flex items-center space-x-2 mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
              </svg>
              <span>{{ 'generic.navigation' | t }}</span>
            </h1>
            <ul id="side-menu">
              <turbo-frame
                  src="{{ site.nav_tree_path | append: '?selected_ids=' | append: page.id }}"
                  id="nav_tree"
                  class="w-full float-none flex flex-col space-y-3 font-semibold"
              ></turbo-frame>
            </ul>
          </nav>
        </div>
      </div>

      <!-- column -->
      <div class="flex-shrink mw-full w-full lg:w-4/5 px-4">
        <turbo-frame id="main-content" data-turbo-action="advance" :class="col-12 col-lg-9 col-xl-8 px-md-3 ps-lg-5 pe-lg-4 pb-5">
          {% # 面包屑导航 %}
          <div class="mb-3 max-w-3xl">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
          </div>
          <article class="bg-white rounded-lg shadow-sm p-8">
              <h1 class="text-4xl font-bold text-gray-900 my-4">{{ page.settings.title }}</h1>
              <hr class="mb-4"/>

              {% if page.settings.icon %}
                <div class="mb-8">
                    <img src="{{ page.settings.icon }}" alt="{{ page.link_text }}" class="w-full rounded-lg">
                </div>
              {% endif %}

              <div data-controller="view_images" class="ProseMirror break-words prose max-w-none">
                {{ page.settings.content }}
              </div>

              <div class="border-t border-gray-200 mt-8 pt-8">
                  <div class="flex flex-wrap justify-between items-center">
                      <div class="text-sm text-gray-600">
                          <div><strong>{{ 'generic.published_at' | t }}: </strong> {{ page.published_at | date: "%Y-%m-%d" }}</div>
                          <div><strong>{{ 'generic.visits' | t}}:</strong> {{ page.visits_count }}</div>
                      </div>

                      {% if page.settings.tags.size > 0 %}
                        <div class="flex flex-wrap items-center gap-4 my-2 md:my-4">
                          <span>{{ 'generic.tags' | t }}：</span>
                          {% for tag in page.settings.tags %}
                            <a
                              href="{{ tag.path }}"
                              data-turbo-frame="_top"
                              class="inline-flex items-center transition-all duration-200 hover:-translate-y-[2px]"
                            >
                              {% render 'tag', tag: tag %}
                            </a>
                          {% endfor %}
                        </div>
                      {% endif %}
                      
                      <div class="flex space-x-4">
                        {% # feedback %}
                      </div>
                  </div>
              </div>
          </article>
        </turbo-frame>
        
        <!--Pagination-->
        <div class="flex justify-between mt-8">
          {% if page.prev_page %}
            <div class="w-1/2 pr-4">
                <a href="{{ page.prev_page.path }}" class="group block">
                    <div class="text-sm text-gray-600 group-hover:text-gray-900">← {{ page.prev_page.link_text }}</div>
                </a>
            </div>
          {% endif %}
          {% if page.next_page %}
            <div class="w-1/2 pl-4 text-right">
                <a href="{{ page.next_page.path }}" class="group block">
                    <div class="text-sm text-gray-600 group-hover:text-gray-900">{{ page.next_page.link_text }} →</div>
                </a>
            </div>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</main><!-- end main -->

{% schema %}
  {
    "name": "Page",
    "thumb_url": "images/theme/page.webp",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "t:settings_schema.page.settings.title.label",
        "info": "t:settings_schema.page.settings.title.info"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "4:1",
        "width": 640,
        "label": "t:settings_schema.page.settings.thumb_image_url.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label"
      }
    ]
  }
{% endschema %}
