
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 z-0">
      <!-- bg wrapper -->
      <div class="absolute inset-y-0 start-auto end-0 hidden lg:block w-1/3 h-full bg-white dark:bg-gray-800"></div>
      <div class="absolute inset-y-0 start-auto end-0 block lg:hidden w-1/2 h-2/5 top-auto bg-white dark:bg-gray-800"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <!-- content -->
          <div class="flex-shrink max-w-full px-4 w-11/12 sm:w-10/12 lg:w-1/2 self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="text-center lg:text-start mb-12 lg:mb-0 pe-12 lg:pe-24">
              <h1 class="text-4xl leading-tight font-bold text-gray-800 dark:text-gray-100 mb-4"><span class="text-primary-700">Social Media</span> Marketing Agency</h1>
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">We are one stop business solution, good place & affordable price. Our offices features convenient spaces for modern profesional.</p>
              <!-- button -->
              <a href="#get-started" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">
                Getting Started
              </a>
            </div>
          </div><!-- end content -->

          <!-- video -->
          <div class="flex-shrink max-w-full px-4 w-11/12 lg:w-1/2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="relative rounded-md overflow-hidden">
              <img src="{{ 'images/img-min/social.svg' | asset_url }}" class="max-w-full w-full h-auto" alt="background images">
              <div class="absolute start-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2 lightgallery-thumbnail">
                <a id="preview-video2" aria-label="Introcluding Upgency" href="https://www.youtube.com/watch?v=nOsKM0cb0qE" class="p-5 rounded-full leading-5 text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0 relative">
                  <svg class="bi bi-play-fill inline-block" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div><!-- end video -->
        </div>
      </div>
    </div><!-- end hero -->

    <!-- =========={ COUNTER }==========  -->
    <div id="counter" class="relative pt-10 pb-6 bg-primary-700">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 text-center uppercase">
          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 relative mb-6">
              <div class="text-2xl leading-normal mb-2 font-semibold text-gray-100">
                <span class="counter">5,596,756</span> <span>$</span>
              </div>
              <span class="block uppercase text-gray-100">AD Spend</span>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 relative mb-6">
              <div class="text-2xl leading-normal mb-2 font-semibold text-gray-100">
                <span class="counter">456,959,000</span>
              </div>
              <span class="block uppercase text-gray-100">Impression</span>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 relative mb-6">
              <div class="text-2xl leading-normal mb-2 font-semibold text-gray-100">
                <span class="counter">3,469,000</span>
              </div>
              <span class="block uppercase text-gray-100">Click</span>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 relative mb-6">
              <div class="text-2xl leading-normal mb-2 font-semibold text-gray-100">
                <span class="counter">350,078</span>
              </div>
              <span class="block uppercase text-gray-100">Conversion</span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end counter -->

    <!-- =========={ SERVICES }==========  -->
    <div id="services" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12 lg:px-20">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Services</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-around">
          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
            <div class="p-6 mx-2 mb-12 bg-white dark:bg-gray-800 rounded-md shadow wow fadeInUp" data-wow-duration="1s">
              <div class="flex rounded ps-4 pe-1 md:ps-1 md:pe-1 py-2">
                <div class="flex items-center text-center me-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="3.5rem" height="3.5rem" fill="currentColor" class="bi bi-camera text-primary-700 inline-block" viewBox="0 0 16 16">
                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg>
                </div>
                <div class="text-start">
                  <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Social Media Content</h3>
                  <p class="text-gray-500 mb-0">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
            <div class="p-6 mx-2 mb-12 bg-white dark:bg-gray-800 rounded-md shadow wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex rounded ps-4 pe-1 md:ps-1 md:pe-1 py-2">
                <div class="flex items-center text-center me-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="3.5rem" height="3.5rem" fill="currentColor" class="bi bi-hand-thumbs-up text-primary-700 inline-block" viewBox="0 0 16 16">
                    <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
                  </svg>
                </div>
                <div class="text-start">
                  <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Social Media Engagement</h3>
                  <p class="text-gray-500 mb-0">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
            <div class="p-6 mx-2 mb-12 bg-white dark:bg-gray-800 rounded-md shadow wow fadeInUp" data-wow-duration="1s">
              <div class="flex rounded ps-4 pe-1 md:ps-1 md:pe-1 py-2">
                <div class="flex items-center text-center me-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="3.5rem" height="3.5rem" fill="currentColor" class="bi bi-megaphone text-primary-700 inline-block" viewBox="0 0 16 16">
                    <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975l1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                  </svg>
                </div>
                <div class="text-start">
                  <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Digital Advertising</h3>
                  <p class="text-gray-500 mb-0">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
            <div class="p-6 mx-2 mb-12 bg-white dark:bg-gray-800 rounded-md shadow wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="flex rounded ps-4 pe-1 md:ps-1 md:pe-1 py-2">
                <div class="flex items-center text-center me-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="3.5rem" height="3.5rem" fill="currentColor" class="bi bi-clipboard-data text-primary-700 inline-block" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
                </div>
                <div class="text-start">
                  <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Social Media Management</h3>
                  <p class="text-gray-500 mb-0">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End services -->

    <!-- =========={ PORTFOLIO }==========  -->
    <div id="portfolio" class="relative py-20 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div x-data="{ tab: 'all' }" class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Latest</span> Work</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- navigation -->
        <div class="space-x-5 text-center">
          <button @click.prevent="tab = 'all'" :class="{ 'text-primary-700' : tab === 'all' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none text-primary-700">
            All
          </button>

          <button @click.prevent="tab = 'web'" :class="{ 'text-primary-700' : tab === 'web' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Web
          </button>

          <button @click.prevent="tab = 'graphic'" :class="{ 'text-primary-700' : tab === 'graphic' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Graphic
          </button>

          <button @click.prevent="tab = 'photo'" :class="{ 'text-primary-700' : tab === 'photo' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Photograpy
          </button>
        </div><!-- end navigation -->

        <!-- Portfolio Content -->
        <div class="flex flex-wrap flex-row -mx-4 lightgallery-thumbnail">
          <figure x-show="tab === 'graphic' || tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_1.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_1.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Logo Design</h3>
                <small class="d-block">Branding</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_2.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_2.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Web Development</h3>
                <small class="d-block">Web</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_3.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_3.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Graphic Design</h3>
                <small class="d-block">Graphic</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_4.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_4.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Video Marketing</h3>
                <small class="d-block">Video</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_5.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_5.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Photography</h3>
                <small class="d-block">Photo</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_6.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_6.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Apps Development</h3>
                <small class="d-block">Apps</small>
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="w-full px-4 text-center mt-6">
            <a href="#" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">View all latest project</a>
          </div>
        </div>
      </div>
    </div><!-- End portfolio -->

    <!-- =========={ CTA }==========  -->
    <div id="cta" class="relative py-20 md:py-24 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg3.jpg' | asset_url }}" alt="title">

      <!-- background overlay -->
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4 text-center">
        <h2 class="text-4xl leading-normal mb-2 font-semibold text-white"># 1 Social Media Marketing Service</h2>
        <h3 class="text-gray-100 leading-relaxed font-light text-xl mb-12">Still confused with our service ? Contact us for a free consultation <br>by a Digital Marketing Specialist</h3>

        <!-- buttom -->
        <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-transparent border border-gray-100 hover:text-gray-900 hover:bg-gray-200 hover:ring-0 hover:border-gray-200 focus:text-gray-900 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0" href="#">
          Contact Our Team
        </a>
      </div>
    </div><!-- End cta -->

    <!-- =========={ REVIEWS }==========  -->
    <div id="reviews" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Clients</span> Review</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Do not take our words, check out what people says.!</p>
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="max-w-full w-full px-4 md:w-10/12">
            <!-- review slider -->
            <div class="nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "imagesLoaded": true }'>
              <!-- item -->
              <div class="w-full px-12 lg:px-24 text-center">
                <div class="mt-2">
                  <img src="{{ 'images/img-min/avatar.png' | asset_url }}" alt="avatar" class="mx-auto w-24 h-24 max-w-full rounded-full">
                  <blockquote>
                    <ul class="flex my-6 mx-auto justify-center">
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                    </ul>
                    <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">I love the professionalism of this team. They're the best partner for your digital marketing needs.</p>
                  </blockquote>
                  <p class="text-center text-gray-500 dark:text-gray-300 mb-0 mt-6"><span class="font-bold">John Doe</span>, One Company</p>
                </div>
              </div>

              <!-- item -->
              <div class="w-full px-12 lg:px-24 text-center">
                <div class="mt-2">
                  <img src="{{ 'images/img-min/img2-small.jpg' | asset_url }}" alt="avatar" class="mx-auto w-24 h-24 max-w-full rounded-full">
                  <blockquote>
                    <ul class="flex my-6 mx-auto justify-center">
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                    </ul>
                    <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">I had my company's App redesigned and we started to get high quality leads and buyer. I highly recommend this team for the growth of your business.</p>
                  </blockquote>
                  <p class="text-center text-gray-500 dark:text-gray-300 mb-0 mt-6"><span class="font-bold">John Doe</span>, One Company</p>
                </div>
              </div>

              <!-- item -->
              <div class="w-full px-12 lg:px-24 text-center">
                <div class="mt-2">
                  <img src="{{ 'images/img-min/img3-small.jpg' | asset_url }}" alt="avatar" class="mx-auto w-24 h-24 max-w-full rounded-full">
                  <blockquote>
                    <ul class="flex my-6 mx-auto justify-center">
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                      <li class="me-3 text-yellow-300">
                        <!-- icon -->
                        <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                        <!-- <i class="fa fa-star"></i> -->
                      </li>
                    </ul>
                    <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Landcore helped us not only for our brand awareness but also the sales conversion. That's what I'm always looking for from an agency.</p>
                  </blockquote>
                  <p class="text-center text-gray-500 dark:text-gray-300 mb-0 mt-6"><span class="font-bold">John Doe</span>, One Company</p>
                </div>
              </div>
            </div><!-- End Reviews -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Reviews -->

    <!-- =========={ BRAND }==========  -->
    <div id="partner-brand" class="relative py-16 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="lex flex-wrap flex-row -mx-4 justify-center">
          <div class="w-full px-4">
            <!-- slider brand -->
            <div data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "imagesLoaded": true }'>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img1.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img2.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img3.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img4.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img5.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img6.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
            </div><!-- end slider brand -->
          </div>
        </div>
      </div>
    </div><!-- End brand-->
  </main>