
  <main id="content">
    <!-- =========={ Hero }==========  -->
    <div id="hero" class="relative overflow-hidden">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- bg wrapper -->
        <div class="absolute inset-y-0 start-auto end-0 w-1/2 bg-gray-50 dark:bg-gray-900" style='z-index:-1;background-image: url("{{ 'images/img-min/advertising.jpg' | asset_url }}");background-repeat: no-repeat;background-size: cover;'></div>
        <div class="absolute inset-y-0 start-auto end-0 lg:hidden w-full bg-gray-50 dark:bg-gray-900" style='z-index:-1;background-image: url("{{ 'images/img-min/advertising.jpg' | asset_url }}");background-repeat: no-repeat;background-size: cover;'></div>
        <div class="absolute inset-y-0 end-auto start-0 hidden lg:block h-full w-1/2 bg-primary-700" style="z-index:-1;"></div>

        <div class="flex flex-wrap flex-row">
          <!-- img block -->
          <div class="flex-shrink w-full max-w-full lg:w-1/2 lg:order-2"></div>

          <!-- content block -->
          <div class="flex-shrink w-full max-w-full lg:w-1/2 lg:order-1 my-auto">
            <div class="py-16 lg:py-24 px-2 sm:px-12 lg:px-0">
              <div class="py-8 px-6 md:p-12 bg-white dark:bg-gray-800 rounded-xl shadow-xl lg:-me-32 text-center lg:text-start">
                <h1 class="text-3xl md:text-4xl leading-normal md:leading-tight mb-2 font-bold text-gray-800 dark:text-gray-100">Optimize Your Entire <span class="text-primary-700">Advertising Campaign</span></h1>
                <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">If you have a great product or service but are confused about your sales and marketing plans, we are the right solution for you.</p>
                <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0 me-4" href="#start-now">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-megaphone me-1 inline-block" viewBox="0 0 16 16">
                    <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975l1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                  </svg>
                  Start Advertising
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end hero -->

    <!-- =========={ SERVICE }==========  -->
    <div id="service" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Services</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Save time managing advertising for your business, contact us and all will covered.</p>
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 text-center">
          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Research</h3>
              <p class="text-gray-500">Researching the product market situation and competitors.</p>
            </div> <!-- end service block -->
          </div>

          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Consultant</h3>
              <p class="text-gray-500">Consulting with clients to find the best advertising strategy.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-badge-ad" viewBox="0 0 16 16">
                  <path d="M3.7 11l.47-1.542h2.004L6.644 11h1.261L5.901 5.001H4.513L2.5 11h1.2zm1.503-4.852l.734 2.426H4.416l.734-2.426h.053zm4.759.128c-1.059 0-1.753.765-1.753 2.043v.695c0 1.279.685 2.043 1.74 2.043.677 0 1.222-.33 1.367-.804h.057V11h1.138V4.685h-1.16v2.36h-.053c-.18-.475-.68-.77-1.336-.77zm.387.923c.58 0 1.002.44 1.002 1.138v.602c0 .76-.396 1.2-.984 1.2-.598 0-.972-.449-.972-1.248v-.453c0-.795.37-1.24.954-1.24z"/>
                  <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Creative ads</h3>
              <p class="text-gray-500">Creating effective illustrations, layouts, advertising messages.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Media Planners</h3>
              <p class="text-gray-500">Help choose the advertising platform to promote its ads effectively.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                  <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Advertising budget</h3>
              <p class="text-gray-500">Manage advertising budget for low cost and high conversion rates.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <!-- service block -->
            <div class="p-6 mb-12 shadow rounded bg-white dark:bg-gray-800 transform transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl">
              <div class="inline-block text-primary-700 mb-4">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Optimize conversions</h3>
              <p class="text-gray-500">Optimize ads that are already running, and replace ads that are less effective.</p>
            </div><!-- end service block -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Service -->

    <!-- =========={ PROGRESS }==========  -->
    <div id="progress" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Top</span> Platforms</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">We use top digital advertising platforms</p>
        </header><!-- end section header -->

        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink w-full max-w-full px-4 md:w-1/2 mb-6 md:mb-0">
            <div class="flex flex-wrap flex-row -mx-4">
              <!-- Vertical Progress Bar -->
              <div class="flex-shrink w-1/4 px-4 max-w-full text-center">
                <div class="flex flex-col flex-nowrap justify-end bg-gray-200 dark:bg-gray-900 h-48 rounded mb-4 overflow-hidden">
                  <div class="relative bg-primary-700 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="height:93%"><span class="w-full text-white pt-2 absolute left=0 end-0 py-1 font-semibold">93%</span></div>
                </div>
                <p class="text-lg leading-normal mb-2 font-normal text-gray-800">Google Ads</p>
              </div>

              <!-- Vertical Progress Bar -->
              <div class="flex-shrink w-1/4 px-4 max-w-full text-center">
                <div class="flex flex-col flex-nowrap justify-end bg-gray-200 dark:bg-gray-900 h-48 rounded mb-4 overflow-hidden">
                  <div class="relative bg-primary-700 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="height:83%"><span class="w-full text-white pt-2 absolute left=0 end-0 py-1 font-semibold">83%</span></div>
                </div>
                <p class="text-lg leading-normal mb-2 font-normal text-gray-800">Facebook Ads</p>
              </div>

              <!-- Vertical Progress Bar -->
              <div class="flex-shrink w-1/4 px-4 max-w-full text-center">
                <div class="flex flex-col flex-nowrap justify-end bg-gray-200 dark:bg-gray-900 h-48 rounded mb-4 overflow-hidden">
                  <div class="relative bg-primary-700 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="height:72%"><span class="w-full text-white pt-2 absolute left=0 end-0 py-1 font-semibold">72%</span></div>
                </div>
                <p class="text-lg leading-normal mb-2 font-normal text-gray-800">Microsoft Ads</p>
              </div>

              <!-- Vertical Progress Bar -->
              <div class="flex-shrink w-1/4 px-4 max-w-full text-center">
                <div class="flex flex-col flex-nowrap justify-end bg-gray-200 dark:bg-gray-900 h-48 rounded mb-4 overflow-hidden">
                  <div class="relative bg-primary-700 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="height:63%"><span class="w-full text-white pt-2 absolute left=0 end-0 py-1 font-semibold">63%</span></div>
                </div>
                <p class="text-lg leading-normal mb-2 font-normal text-gray-800">Tiktok Ads</p>
              </div>
            </div>
          </div>

          <div class="flex-shrink w-full max-w-full px-4 md:w-5/12 md:ms-auto">
            <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">
              More Statistic
              <svg class="bi bi-graph-up inline-block ms-2" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"></path>
                <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V4h-3.5a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div><!-- End progress-->

    <!-- =========={ COUNTER }==========  -->
    <div id="counter" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-black-600 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg3.jpg' | asset_url }}" alt="title">
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 text-center uppercase">
          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 bg-white dark:bg-gray-800 text-primary-700 dark:text-gray-100 rounded shadow relative mb-6">
              <div class="text-4xl mb-1">
                <span class="counter">1500<span>+</span></span>
              </div>
              <small class="block uppercase">Customers</small>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 bg-white dark:bg-gray-800 text-primary-700 dark:text-gray-100 rounded shadow relative mb-6">
              <div class="text-4xl mb-1">
                <span class="counter">250<span>+</span></span>
              </div>
              <small class="block uppercase">Company</small>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 bg-white dark:bg-gray-800 text-primary-700 dark:text-gray-100 rounded shadow relative mb-6">
              <div class="text-4xl mb-1">
                <span class="counter">520<span>+</span></span>
              </div>
              <small class="block uppercase">Running Project</small>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
            <div class="p-6 bg-white dark:bg-gray-800 text-primary-700 dark:text-gray-100 rounded shadow relative mb-6">
              <div class="text-4xl mb-1">
                <span class="counter">450<span>+</span></span>
              </div>
              <small class="block uppercase">Complete Project</small>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end counter -->

    <!-- =========={ PRICING }==========  -->
    <div id="pricing" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div x-data="{ open: false }" class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Pricing</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Pay only fixed monthly fee and the rest we will handle for you!</p>
        </header><!-- end section header -->
        
        <!-- navigation -->
        <div class="text-center mb-12 lg:mb-24">
          <div class="flex justify-center mb-12 lg:mb-16">
            <label class="flex items-center cursor-pointer justify-between mb-5">
              <span>Monthly</span>
              <input type="checkbox" id="js-checkbox" class="hidden">
              <i @click="open = !open" aria-expanded="false" x-bind:aria-expanded="open.toString()" class="relative inline-block w-24 h-7 border border-gray-200 dark:border-gray-700 rounded-xl transition mx-4">
                <span :class="{ 'hidden': open, 'block': !(open) }" x-description="off" x-state:on="on" x-state:off="off" class="absolute start-0 w-10 h-6 rounded-xl bg-primary-700" ></span>
                <span :class="{ 'block': open, 'hidden': !(open) }" x-description="on" x-state:on="on" x-state:off="off" class="absolute end-0 w-10 h-6 rounded-xl bg-primary-700"></span>
              </i>
              <span>Yearly</span>
            </label>
          </div>
        </div>

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="flex-shrink max-w-full w-11/12 md:w-1/2 lg:w-1/3 px-4">
            <div class="xl:px-2">
              <!-- price table-->
              <div class="relative bg-white shadow-xl border border-gray-100 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 rounded-xl mb-12 wow fadeInLeft" data-wow-duration="1s">
                <!-- pricing header -->
                <header class="relative pt-12 px-16 pb-4">
                  <h3 class="text-2xl leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Starter</h3>
                  <p class="text-gray-500">Start Up</p>
                  <div class="h-1 w-full bg-primary-500 mt-2 mb-5"></div>
                  <div>
                    <h4 :class="{ 'hidden': open, 'block': !(open) }" x-description="off" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$19.99 <span class="small fw-light">/Month</span></h4>
                    <h4 :class="{ 'block': open, 'hidden': !(open) }" x-description="on" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$199.99 <span class="small fw-light">/Year</span></h4>
                  </div>
                </header><!-- end pricing header -->

                <!-- pricing content -->
                <div class="relative px-16 pb-12 text-gray-600">
                  <div class="mb-8">
                    <p class="mb-4">100 Employee</p>
                    <p class="mb-4">Unlimited Features</p>
                    <p class="mb-4">Presentation Software</p>
                    <p class="mb-4">Project Management</p>
                    <p class="mb-4">Event Management</p>
                  </div>
                  <a class="py-3 px-5 block text-center rounded-md leading-normal text-gray-100 bg-gray-900 border border-gray-900 hover:text-white hover:bg-black hover:ring-0 hover:border-black focus:bg-black focus:border-black focus:outline-none focus:ring-0" href="#">Get Started</a>
                </div><!-- end pricing content -->
              </div><!-- End price table-->
            </div>
          </div>

          <div class="flex-shrink max-w-full w-11/12 md:w-1/2 lg:w-1/3 px-4">
            <div class="xl:px-2">
              <!-- price table-->
              <div class="relative bg-white shadow-xl border border-gray-100 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 rounded-xl lg:-mt-8 mb-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <!-- ribbon -->
                <div class="absolute top-0 end-0 w-36 h-36 text-sm">
                  <span class="absolute top-4 end-0 px-4 py-2 block align-center shadow bg-yellow-300 text-gray-800">Popular</span>
                </div>
                <!-- pricing header -->
                <div class="relative pt-12 px-16 pb-4">
                  <h3 class="text-2xl leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Professional</h3>
                  <p class="text-gray-500">Small Business</p>
                  <div class="h-1 w-full bg-primary-500 mt-2 mb-5"></div>
                  <div>
                    <h4 :class="{ 'hidden': open, 'block': !(open) }" x-description="off" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$29.99 <span class="small fw-light">/Month</span></h4>
                    <h4 :class="{ 'block': open, 'hidden': !(open) }" x-description="on" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$299.99 <span class="small fw-light">/Year</span></h4>
                  </div>
                </div><!-- end pricing header -->

                <!-- pricing content -->
                <div class="relative px-16 pb-12 text-gray-600">
                  <div class="mb-8">
                    <p class="mb-4">500 Employee</p>
                    <p class="mb-4">Unlimited Features</p>
                    <p class="mb-4">Presentation Software</p>
                    <p class="mb-4">Project Management</p>
                    <p class="mb-4">Event Management</p>
                    <p class="mb-4">Most Popular</p>
                  </div>
                  <a class="py-3 px-5 block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-2 transform ltr:rotate-0 rtl:-rotate-90 inline-block" width="1.5rem" height="1.5rem" viewBox="0 0 512 512"><path d="M53.12,199.94l400-151.39a8,8,0,0,1,10.33,10.33l-151.39,400a8,8,0,0,1-15-.34L229.66,292.45a16,16,0,0,0-10.11-10.11L53.46,215A8,8,0,0,1,53.12,199.94Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line x1="460" y1="52" x2="227" y2="285" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line></svg>Get Started
                  </a>
                </div><!-- end pricing content -->
              </div><!-- end pricing table -->
            </div>
          </div>

          <div class="flex-shrink max-w-full w-11/12 md:w-1/2 lg:w-1/3 px-4">
            <div class="xl:px-2">
              <!-- price table-->
              <div class="relative bg-white shadow-xl border border-gray-100 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 rounded-xl mb-12 wow fadeInRight" data-wow-duration="1s">
                <!-- pricing header -->
                <header class="relative pt-12 px-16 pb-4">
                  <h3 class="text-2xl leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Expert</h3>
                  <p class="text-gray-500">Big Business</p>
                  <div class="h-1 w-full bg-primary-500 mt-2 mb-5"></div>
                  <div>
                    <h4 :class="{ 'hidden': open, 'block': !(open) }" x-description="off" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$39.99 <span class="small fw-light">/Month</span></h4>
                    <h4 :class="{ 'block': open, 'hidden': !(open) }" x-description="on" x-state:on="on" x-state:off="off" class="text-2xl leading-normal mb-2 font-semibold text-primary-500">$399.99 <span class="small fw-light">/Year</span></h4>
                  </div>
                </header><!-- end pricing header -->

                <!-- pricing content -->
                <div class="relative px-16 pb-12 text-gray-600">
                  <div class="mb-8">
                    <p class="mb-4">1000 Employee</p>
                    <p class="mb-4">Unlimited Features</p>
                    <p class="mb-4">Presentation Software</p>
                    <p class="mb-4">Project Management</p>
                    <p class="mb-4">Event Management</p>
                  </div>
                  <a class="py-3 px-5 block text-center rounded-md leading-normal text-gray-100 bg-gray-900 border border-gray-900 hover:text-white hover:bg-black hover:ring-0 hover:border-black focus:bg-black focus:border-black focus:outline-none focus:ring-0" href="#">Get Started</a>
                </div><!-- end pricing content -->
              </div><!-- End price table-->
            </div>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Pricing -->

    <!-- =========={ CTA }==========  -->
    <div id="start-now" class="relative py-20 md:py-24 bg-black-600 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg3.jpg' | asset_url }}" alt="title">

      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-gray-900" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4 text-center">
        <h3 class="text-2xl leading-normal mb-12 font-semibold text-gray-100">Join over 130 personal and 52 company who have used <br>Upgency to optimize Advertising Campaign.</h3>

        <!-- buttom -->
        <a class="py-3 px-5 -ms-1 rounded-md leading-5 text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-megaphone inline-block me-1" viewBox="0 0 16 16">
            <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975l1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
          </svg>
          Start Advertising
        </a>
      </div>
    </div><!-- End cta -->

    <!-- =========={ BRAND }==========  -->
    <div id="partner-brand" class="relative py-16 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="lex flex-wrap flex-row -mx-4 justify-center">
          <div class="w-full px-4">
            <!-- slider brand -->
            <div class="nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "imagesLoaded": true }'>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img1.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img2.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img3.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img4.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img5.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="{{ 'images/img-min/img6.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
            </div><!-- end slider brand -->
          </div>
        </div>
      </div>
    </div><!-- End brand-->
  </main>