
  <main id="content">
    <!-- =========={ SLIDER }==========  -->
    <div id="slider" class="relative bg-primary-900">
      <div class="hero-slider nav-inset-button nav-light-dots carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": true, "autoPlay": 5000 }'>
        <div class="w-full px-0 py-12 z-0" style='min-height: 520px;background-image: url("{{ 'images/img-min/advertising.jpg' | asset_url }}");background-size: cover;'>

          <!-- background overlay -->
          <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"></div>

          <div class="container xl:max-w-6xl mx-auto px-4">
            <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
              <!-- content -->
              <div class="max-w-full px-4 w-full md:w-10/12">
                <div class="mt-0 py-6 lg:py-12 text-center">
                  <h1 class="text-4xl leading-tight lg:text-5xl lg:leading-snug font-semibold text-white capitalize mb-12">We Design and Develop Beautiful<br>Sites for your Business</h1>
                  <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-transparent border border-gray-100 hover:text-gray-900 hover:bg-gray-200 hover:ring-0 hover:border-gray-200 focus:text-gray-900 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0" href="#about">
                    How We Work ?
                  </a>
                </div>
              </div><!-- end content -->
            </div>
          </div>
        </div>

        <div class="w-full px-0 py-12 z-0" style='min-height: 520px;background-image: url("{{ 'images/img-min/advertising.jpg' | asset_url }}");background-size: cover;'>
          <!-- background overlay -->
          <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-black" style="z-index:-1;"></div>

          <div class="container xl:max-w-6xl mx-auto px-4">
            <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
              <!-- content -->
              <div class="max-w-full px-4 w-full md:w-10/12">
                <div class="mt-0 py-6 lg:py-12 text-center">
                  <h2 class="text-4xl leading-tight lg:text-5xl lg:leading-snug font-semibold text-white capitalize mb-12">Developing a New Concept<br>With our Experience</h2>
                  <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-transparent border border-gray-100 hover:text-gray-900 hover:bg-gray-200 hover:ring-0 hover:border-gray-200 focus:text-gray-900 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0" href="#services">
                    Our Services
                  </a>
                </div>
              </div><!-- end content -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- end slider-->
    
    <!-- =========={ COUNTERS }==========  -->
    <div class="relative -mt-32 lg:-mt-24 overflow-hidden">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="mb-12 bg-primary-700 rounded-xl shadow">
          <div class="flex flex-wrap flex-row -mx-4 pt-12">
            <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
              <div class="pb-12">
                <div class="text-center">
                  <p class="text-3xl leading-normal font-semibold text-gray-100 mb-1"><span class="counter">7</span>+</p>
                  <p class="text-lg leading-normal font-normal text-gray-200 mb-0">Years of Experience</p>
                </div>
              </div>
            </div>
            <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
              <div class="pb-12">
                <div class="text-center">
                  <p class="text-3xl leading-normal font-semibold text-gray-100 mb-1"><span class="counter">7890</span>+</p>
                  <p class="text-lg leading-normal font-normal text-gray-200 mb-0">Websites developed</p>
                </div>
              </div>
            </div>
            <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
              <div class="pb-12">
                <div class="text-center">
                  <p class="text-3xl leading-normal font-semibold text-gray-100 mb-1"><span class="counter">1200</span>+</p>
                  <p class="text-lg leading-normal font-normal text-gray-200 mb-0">Clients served</p>
                </div>
              </div>
            </div>
            <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/4">
              <div class="pb-12">
                <div class="text-center">
                  <p class="text-3xl leading-normal font-semibold text-gray-100 mb-1"><span class="counter">17</span></p>
                  <p class="text-lg leading-normal font-normal text-gray-200 mb-0">Team Members</p>
                </div>
              </div>
            </div>
          </div><!-- .row -->
        </div>
      </div>
    </div><!-- end counters -->

    <!-- =========={ ABOUT }==========  -->
    <div id="about" class="relative pt-12 pb-16 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12 lg:px-20">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Web Design and Development<br>Agency in New York</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="flex-shrink max-w-full px-4 w-full lg:w-5/12">
            <div class="relative rounded-md overflow-hidden hover:shadow-md mb-6 lg:mb-0">
              <img src="{{ 'images/img-min/app.jpg' | asset_url }}" class="img-fluid w-100" alt="background images">
              <div class="absolute start-1/2 top-1/2 transform -translate-y-1/2 ltr:-translate-x-1/2 rtl:translate-x-1/2 lightgallery-thumbnail">
                <a id="preview-video2" aria-label="Introcluding tailwiki" href="https://www.youtube.com/watch?v=nOsKM0cb0qE" class="p-5 rounded-full leading-5 text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0 relative">
                  <svg class="bi bi-play-fill inline-block" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full lg:w-5/12">
            <div class="text-center lg:text-start lg:ps-12">
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-4">We are a web design and development company who helps businesses and organizations in building their digital asset.</p>
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">We focus on the development of corporate and e-commerce websites, and we have been serving in the New York since 2014.</p>
              <!-- button -->
              <a href="#" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0 me-3">
                Our Services
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end about -->

    <!-- =========={ SERVICE }==========  -->
    <div id="service" class="relative pt-16 md:pt-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12 lg:px-20">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">What We Do Best</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row text-center">
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                  <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Design</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Development</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">SEO Service</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                  <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                  <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Maintenance</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                  <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                  <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Mobile Web Design</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="4rem" height="4rem" fill="currentColor" viewBox="0 0 512 512"><path d="M330.7,352l77.72-192H356.9L303.74,284.07,265.93,160H226.32L185.74,284.07l-28.63-56.53L131.21,307l26.3,45h50.7l36.68-111.27,35,111.27Z"></path><path d="M48.79,286.09H80.44a93.39,93.39,0,0,0,25.62-3.21l8.18-25.19,22.88-70.39a55.75,55.75,0,0,0-6-7.82Q113.54,160,79.59,160H0V352H48.79Zm41.9-81.92q6.89,6.92,6.88,18.52t-6,18.53q-6.64,7.62-24.44,7.61H48.79V197.25H67.21q16.59,0,23.48,6.92ZM376.85,317.61l14.79-37.25h42.69l-20.26-56.51L439.41,160,512,352H458.47l-12.4-34.39Z"></path></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Vital Optimize</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Service -->

    <!-- =========={ PORTFOLIO }==========  -->
    <div id="portfolio" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div x-data="{ tab: 'all' }" class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Portfolio</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- navigation -->
        <div class="space-x-5 text-center">
          <button @click.prevent="tab = 'all'" :class="{ 'text-primary-700' : tab === 'all' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none text-primary-700">
            All
          </button>

          <button @click.prevent="tab = 'web'" :class="{ 'text-primary-700' : tab === 'web' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Web
          </button>

          <button @click.prevent="tab = 'graphic'" :class="{ 'text-primary-700' : tab === 'graphic' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Graphic
          </button>

          <button @click.prevent="tab = 'photo'" :class="{ 'text-primary-700' : tab === 'photo' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Photograpy
          </button>
        </div><!-- end navigation -->

        <!-- Portfolio Content -->
        <div class="flex flex-wrap flex-row -mx-4 lightgallery-thumbnail">
          <figure x-show="tab === 'graphic' || tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_1.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_1.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Logo Design</h3>
                <small class="d-block">Branding</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_2.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_2.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Web Development</h3>
                <small class="d-block">Web</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_3.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_3.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Graphic Design</h3>
                <small class="d-block">Graphic</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_4.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_4.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Video Marketing</h3>
                <small class="d-block">Video</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_5.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_5.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Photography</h3>
                <small class="d-block">Photo</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_6.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_6.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Apps Development</h3>
                <small class="d-block">Apps</small>
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="w-full px-4 text-center mt-6">
            <a href="#" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">View all latest project</a>
          </div>
        </div>
      </div>
    </div><!-- End portfolio -->

    <!-- =========={ CONTACT }==========  -->
    <div id="contact" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="max-w-ful px-4 w-full lg:w-8/12">
            <div class="bg-gray-50 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-20 dark:border-gray-800 rounded-md w-full p-12">
              <!-- section header -->
              <header class="text-center mx-auto mb-12 lg:px-20">
                <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Contact</span> Us</h2>
                <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
                <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Have questions about service, please contact us.</p>
              </header><!-- end section header -->

              <!-- contact form -->
              <form action="#">
                <div class="flex flex-wrap flex-row -mx-4">
                  <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                    <label class="inline-block mb-2" for="name">Your Name</label>
                    <input type="text" name="name" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="name">
                    <div class="validate"></div>
                  </div>
                  <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                    <label class="inline-block mb-2" for="email">Your Email</label>
                    <input type="email" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="email" id="email">
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="inline-block mb-2" for="subject">Subject</label>
                  <input type="text" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="subject" id="subject">
                  <div class="validate"></div>
                </div>
                <div class="mb-6">
                  <label class="inline-block mb-2" for="messages">Message</label>
                  <textarea class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="message" rows="10" id="messages"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center mb-6">
                  <button class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="me-2 inline-block transform ltr:rotate-0 rtl:-rotate-90" viewBox="0 0 512 512"><path d="M53.12,199.94l400-151.39a8,8,0,0,1,10.33,10.33l-151.39,400a8,8,0,0,1-15-.34L229.66,292.45a16,16,0,0,0-10.11-10.11L53.46,215A8,8,0,0,1,53.12,199.94Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line x1="460" y1="52" x2="227" y2="285" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line></svg>
                    Send Message
                  </button>
                </div>
              </form><!-- end contact form -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End contact -->
  </main>