
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative z-0 py-16 md:py-20">
      <!-- bg wrapper -->
      <div class="absolute inset-y-0 end-auto start-0 hidden lg:block w-1/3 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20" style="z-index:-1"></div>
      <div class="absolute inset-x-0 bottom-auto top-0 block lg:hidden h-full w-1/2 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20" style="z-index:-1"></div>
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <!-- content -->
          <div class="flex-shrink max-w-full px-4 w-full sm:w-9/12 lg:w-1/2 self-center">
            <img src="{{ 'images/img-min/creative.svg' | asset_url }}" class="w-full max-w-full h-auto" alt="creative agency">
          </div><!-- end content -->

          <!-- text -->
          <div class="flex-shrink max-w-full px-4 w-full md:w-9/12 lg:w-1/2 self-center lg:pe-12">
            <div class="text-center lg:text-start mt-6 lg:mt-0">
              <div class="mb-12">
                <h1 class="text-4xl leading-normal capitalize text-gray-800 dark:text-gray-100 font-semibold mb-4">We are <span class="font-bold text-primary-700">Creative Agency</span> that serves <span data-toggle="typed" data-options='{"strings": ["Logo design", "Web design", "Mobile App", "Photography", "Videography"]}'></span></h1>
                <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">We would direct you to limitless ideas and move your brand into a global landscape.</p>
              </div>
              <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0 me-4" href="#service">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block me-1" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><rect x="64" y="176" width="384" height="256" rx="28.87" ry="28.87" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"></rect><line x1="144" y1="80" x2="368" y2="80" style="stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"></line><line x1="112" y1="128" x2="400" y2="128" style="stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"></line></svg>
                 Our Service
              </a>

              <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0" href="#project">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block me-1" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><path d="M304,384V360c0-29,31.54-56.43,52-76,28.84-27.57,44-64.61,44-108,0-80-63.73-144-144-144A143.6,143.6,0,0,0,112,176c0,41.84,15.81,81.39,44,108,20.35,19.21,52,46.7,52,76v24" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="224" y1="480" x2="288" y2="480" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="208" y1="432" x2="304" y2="432" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="384" x2="256" y2="256" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M294,240s-21.51,16-38,16-38-16-38-16" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                 Latest Project
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end Hero -->

    <!-- =========={ ABOUT}==========  -->
    <div id="about" class="relative z-0 py-20 lg:py-24 bg-white dark:bg-gray-800">
      <!-- bg wrapper -->
      <div class="absolute inset-y-0 start-auto end-0 hidden lg:block w-1/3 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20" style="z-index:-1"></div>
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row">
          <!-- img block -->
          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2 lg:order-2">
            <img src="{{ 'images/img-min/creative-content.svg' | asset_url }}" class="w-full max-w-full h-auto" alt="creative agency">
          </div>

          <!-- content block -->
          <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2 lg:order-1 my-auto">
            <div class="p-6 md:p-12 lg:p-16 lg:ps-0 text-center lg:text-start">
              <h2 class="text-4xl leading-normal mb-4 font-semibold text-gray-800 dark:text-gray-100">Build your Awesome <span class="text-primary-700">Website and Logo Design</span></h2>
              <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Landcore is a full service Creative Agency in New York, providing integrated solutions for your business. We offer services from Logo design, web & mobile apps design, photography, event organizer and etc.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end about -->

    <!-- =========={ Brand }==========  -->
    <div id="partner-brand" class="relative bg-white dark:bg-gray-800 py-12">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="w-full px-4">
            <!-- slider brand -->
            <div class="nav-dark-button nav-primary-button nav-slider-hover" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "imagesLoaded": true }'>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img1.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img2.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img3.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img4.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img5.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
              <div class="w-full sm:1-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-6 lg:px-8 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image max-w-full h-auto" src="{{ 'images/img-min/img6.png' | asset_url }}" alt="Image Description">
                </a>
              </div>
            </div><!-- end slider brand -->
          </div>
        </div>
      </div>
    </div><!-- End brand-->

    <!-- =========={ SERVICES }==========  -->
    <div id="service" class="relative pt-16 md:pt-24 pb-6 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Services</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">We provide high quality service to meet the needs of clients</p>
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 text-center">
          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M419.1,337.45a3.94,3.94,0,0,0-6.1,0c-10.5,12.4-45,46.55-45,77.66,0,27,21.5,48.89,48,48.89h0c26.5,0,48-22,48-48.89C464,384,429.7,349.85,419.1,337.45Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/><path d="M387,287.9,155.61,58.36a36,36,0,0,0-51,0l-5.15,5.15a36,36,0,0,0,0,51l52.89,52.89,57-57L56.33,263.2a28,28,0,0,0,.3,40l131.2,126a28.05,28.05,0,0,0,38.9-.1c37.8-36.6,118.3-114.5,126.7-122.9,5.8-5.8,18.2-7.1,28.7-7.1h.3A6.53,6.53,0,0,0,387,287.9Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Logo Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><rect x="48" y="96" width="416" height="304" rx="32.14" ry="32.14" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"/><line x1="16" y1="416" x2="496" y2="416" style="stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Web Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><rect x="128" y="16" width="256" height="480" rx="48" ry="48" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M176,16h24a8,8,0,0,1,8,8h0a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16h0a8,8,0,0,1,8-8h24" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">App Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/><line x1="338.29" y1="338.29" x2="448" y2="448" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Content Marketing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z"/><path d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z"/><path d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Photography</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="py-8 px-6 mb-12 shadow rounded bg-white dark:bg-gray-800 hover:shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="text-primary-700 mb-6">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M430.11,347.9c-6.6-6.1-16.3-7.6-24.6-9-11.5-1.9-15.9-4-22.6-10-14.3-12.7-14.3-31.1,0-43.8l30.3-26.9c46.4-41,46.4-108.2,0-149.2-34.2-30.1-80.1-45-127.8-45-55.7,0-113.9,20.3-158.8,60.1-83.5,73.8-83.5,194.7,0,268.5,41.5,36.7,97.5,55,152.9,55.4h1.7c55.4,0,110-17.9,148.8-52.4C444.41,382.9,442,359,430.11,347.9Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/><circle cx="144" cy="208" r="32"/><circle cx="152" cy="311" r="32"/><circle cx="224" cy="144" r="32"/><circle cx="256" cy="367" r="48"/><circle cx="328" cy="144" r="32"/></svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">Graphic Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- end service block -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End services -->

    <!-- =========={ PORTFOLIO }==========  -->
    <div id="portfolio" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div x-data="{ tab: 'all' }" class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Portfolio</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- navigation -->
        <div class="space-x-5 text-center">
          <button @click.prevent="tab = 'all'" :class="{ 'text-primary-700' : tab === 'all' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none text-primary-700">
            All
          </button>

          <button @click.prevent="tab = 'web'" :class="{ 'text-primary-700' : tab === 'web' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Web
          </button>

          <button @click.prevent="tab = 'graphic'" :class="{ 'text-primary-700' : tab === 'graphic' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Graphic
          </button>

          <button @click.prevent="tab = 'photo'" :class="{ 'text-primary-700' : tab === 'photo' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Photograpy
          </button>
        </div><!-- end navigation -->

        <!-- Portfolio Content -->
        <div class="flex flex-wrap flex-row -mx-4 lightgallery-thumbnail">
          <figure x-show="tab === 'graphic' || tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_1.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_1.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Logo Design</h3>
                <small class="d-block">Branding</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_2.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_2.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Web Development</h3>
                <small class="d-block">Web</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_3.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_3.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Graphic Design</h3>
                <small class="d-block">Graphic</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_4.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_4.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Video Marketing</h3>
                <small class="d-block">Video</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_5.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_5.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Photography</h3>
                <small class="d-block">Photo</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_6.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_6.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Apps Development</h3>
                <small class="d-block">Apps</small>
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="w-full px-4 text-center mt-6">
            <a href="#" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">View all latest project</a>
          </div>
        </div>
      </div>
    </div><!-- End portfolio -->

    <!-- =========={ REVIEWS }==========  -->
    <div id="reviews" class="relative py-16 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Clients</span> Review</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Do not take our words, check out what people says.!</p>
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 justify-center">
          <div class="max-w-full px-4 w-11/12 md:w-full">
            <!-- review slider -->
            <div class="nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false }'>
              <!-- item -->
              <div class="flex-shrink max-w-full px-4 w-full md:w-1/2 lg:px-12">
                <!-- Reviews -->
                <div class="mb-12 md:mb-2">
                  <div class="w-full text-center">
                    <div class="relative -mb-6 z-10">
                      <img class="w-14 h-14 bg-white dark:bg-gray-800 border border-gray-200 rounded-full mx-auto" src="{{ 'images/img-min/img1-small.jpg' | asset_url }}" alt="Image description">
                    </div>
                  </div>
                  <div class="relative p-10 bg-white dark:bg-gray-800 shadow text-center rounded pt-12">
                    <p class="mb-0">
                      <span class="text-base font-semibold">Rafael Ezo</span>
                    </p>
                    <p class="mb-0"><span class="text-sm text-gray-500 ms-2">CEO One Company</span></p>
                    <blockquote>
                      <ul class="flex my-2 mx-auto justify-center">
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                      </ul>
                      <p class="text-gray-500">tailwiki have developed some fantastic service. They support our brand, reduce production time of written work and look great.</p>
                    </blockquote>
                  </div>
                </div><!-- End Reviews -->
              </div>

              <!-- item -->
              <div class="flex-shrink max-w-full px-4 w-full md:w-1/2 lg:px-12">
                <!-- Reviews -->
                <div class="mb-12 md:mb-2">
                  <div class="w-full text-center">
                    <div class="relative -mb-6 z-10">
                      <img class="w-14 h-14 bg-white dark:bg-gray-800 border border-gray-200 rounded-full mx-auto" src="{{ 'images/img-min/img2-small.jpg' | asset_url }}" alt="Image description">
                    </div>
                  </div>
                  <div class="relative p-10 bg-white dark:bg-gray-800 shadow text-center rounded pt-12">
                    <p class="mb-0">
                      <span class="text-base font-semibold">Jessica Ramos</span>
                    </p>
                    <p class="mb-0"><span class="text-sm text-gray-500 ms-2">CEO One Company</span></p>
                    <blockquote>
                      <ul class="flex my-2 mx-auto justify-center">
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                      </ul>
                      <p class="text-gray-500">Great team to work with, very approachable and are able to answer any questions we may have regarding project work.</p>
                    </blockquote>
                  </div>
                </div><!-- End Reviews -->
              </div>

               <!-- item -->
              <div class="flex-shrink max-w-full px-4 w-full md:w-1/2 lg:px-12">
                <!-- Reviews -->
                <div class="mb-12 md:mb-2">
                  <div class="w-full text-center">
                    <div class="relative -mb-6 z-10">
                      <img class="w-14 h-14 bg-white dark:bg-gray-800 border border-gray-200 rounded-full mx-auto" src="{{ 'images/img-min/img3-small.jpg' | asset_url }}" alt="Image description">
                    </div>
                  </div>
                  <div class="relative p-10 bg-white dark:bg-gray-800 shadow text-center rounded pt-12">
                    <p class="mb-0">
                      <span class="text-base font-semibold">Demian Berbaza</span>
                    </p>
                    <p class="mb-0"><span class="text-sm text-gray-500 ms-2">CEO One Company</span></p>
                    <blockquote>
                      <ul class="flex my-2 mx-auto justify-center">
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                        <li class="me-3 text-yellow-300">
                          <!-- icon -->
                          <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill="currentColor" viewBox='0 0 512 512'><path class="rating-svg" d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/></svg>
                          <!-- <i class="fa fa-star"></i> -->
                        </li>
                      </ul>
                      <p class="text-gray-500">Thank you so much for your work on the Logo design and Web development. They really helped us get to where we needed.</p>
                    </blockquote>
                  </div>
                </div><!-- End Reviews -->
              </div>
            </div><!-- end review slider -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Reviews -->

    <!-- =========={ CONTACT }==========  -->
    <div id="contact" class="relative py-16 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink max-w-full px-4 w-full md:w-1/2">
            <div class="contact-area w-100 p-4">
              <h3 class="text-2xl leading-normal font-semibold text-gray-800 dark:text-gray-100 mb-12 text-center">Contact Us</h3>
              <!-- contact form -->
              <form action="#">
                <div class="flex flex-wrap flex-row -mx-4">
                  <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                    <label class="inline-block mb-2" for="name">Your Name</label>
                    <input type="text" name="name" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="name">
                    <div class="validate"></div>
                  </div>
                  <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                    <label class="inline-block mb-2" for="email">Your Email</label>
                    <input type="email" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="email" id="email">
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="inline-block mb-2" for="subject">Subject</label>
                  <input type="text" class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="subject" id="subject">
                  <div class="validate"></div>
                </div>
                <div class="mb-6">
                  <label class="inline-block mb-2" for="messages">Message</label>
                  <textarea class="w-full leading-5 relative py-3 px-5 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" name="message" rows="10" id="messages"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center mb-6">
                  <button class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="me-2 inline-block transform ltr:rotate-0 rtl:-rotate-90" viewBox="0 0 512 512"><path d="M53.12,199.94l400-151.39a8,8,0,0,1,10.33,10.33l-151.39,400a8,8,0,0,1-15-.34L229.66,292.45a16,16,0,0,0-10.11-10.11L53.46,215A8,8,0,0,1,53.12,199.94Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line x1="460" y1="52" x2="227" y2="285" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line></svg>
                    Send Message
                  </button>
                </div>
              </form><!-- end contact form -->
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-full md:w-1/2">
            <div class="p-6">
              <h3 class="text-2xl leading-normal font-semibold text-gray-800 mb-12 text-center">Our Maps</h3>
              <!-- maps responsive -->
              <div class="relative overflow-hidden mb-6" style="padding-bottom: 75%">
                <iframe class="absolute top-0 start-0 w-full h-full lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1537389.2000627194!2d-105.93786665117793!3d41.18442046635789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sid!4v1585008753367!5m2!1sen!2sid" aria-label="Google maps" width="800" height="600" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div><!-- end maps responsive -->
              <p class="mb-4"><b>Working Time</b>: Monday - Saturday: 09:00 AM - 08:00 PM</p>
              <p class="mb-4"><b>Phone Number</b>: +1 234 5678 90</p>
              <p class="mb-4"><b>Email</b>: Support@domain.com</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End contact -->
  </main>