
  <main id="content">
    <!-- =========={ hero }==========  -->
    <div id="hero" class="relative pt-3 sm:pt-6 lg:pt-12 pb-0 bg-gradient-to-b from-primary-800 via-primary-700 to-green-400 bg-primary-700">
      <!-- particle moving animation -->
      <div class="my-0">
        <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="right: 9%; bottom: 72%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate absolute opacity-50 text-gray-100" style="right: 12%; bottom: 30%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="right: 22%; bottom: 55%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate absolute opacity-50 text-gray-100" style="right: 30%; top: 15%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 60%; bottom: 20%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 20%; bottom: 60%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 38%; bottom: 40%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate absolute opacity-50 text-gray-100" style="left: 12%; bottom: 30%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="scroll-rotate absolute opacity-50 text-gray-100" style="left: 6%; bottom: 75%; transform: rotate(0deg);">
          <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
          <!-- content -->
          <div class="max-w-full w-full lg:w-4/5 px-4">
            <div class="mt-12 lg:mt-16 py-6 text-center">
              <h1 class="text-4xl leading-tight lg:text-5xl lg:leading-snug font-bold text-white capitalize mb-4">Multipurpose <span class="hidden sm:inline-block text-yellow-300">Tailwind</span> Template<br> with Baklib CMS</h1>
              <p class="text-gray-100 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">TailPro <span class="hidden md:inline-block">multipurpose Tailwind</span> template is <span class="text-yellow-300 font-semibold" data-toggle="typed" data-options='{"strings": ["Fast loading", "Easy development", "Seo friendly"]}'></span></p>

              <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-800 bg-yellow-300 border border-yellow-300 hover:text-gray-900 hover:bg-yellow-400 hover:ring-0 hover:border-yellow-400 focus:bg-yellow-400 focus:border-yellow-400 focus:outline-none focus:ring-0" href="#demos">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline me-1" viewBox="0 0 16 16">
                  <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"></path>
                </svg> Live Preview
              </a>
            </div>
          </div><!-- end content -->

          <div class="max-w-full w-full px-4 text-center">
            <img src="{{ 'images/img-min/Tailwind-agency-templates.png' | asset_url }}" class="w-full max-w-full h-auto" alt="Tailwind agency template">
          </div>
        </div>
      </div>
    </div>
    <!-- End hero -->

    <!-- =========={ demo }==========  -->
    <div id="demos" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Prebuild Landing Pages</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">All demo page are optimized by Baklib CMS.</p>
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 text-center">
          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
              <a href="/s/index-branding">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img2.jpg' | asset_url }}" alt="Tailwind Template Branding Agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-branding">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Branding Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>
          
          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <a href="/s/index-creative">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img3.jpg' | asset_url }}" alt="Tailwind Template Creative Agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-creative">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Creative Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2">
              <a href="/s/index-digital">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img4.jpg' | asset_url }}" alt="Tailwind Template Digital Agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-digital">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Digital Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
              <a href="/s/index-advertising">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img1.jpg' | asset_url }}" alt="Tailwind Template Advertising Agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-advertising">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Advertising Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <a href="/s/index-graphic">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img5.jpg' | asset_url }}" alt="Tailwind template graphic agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-graphic">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Graphic Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <a href="/s/index-marketing">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img6.jpg' | asset_url }}" alt="Tailwind template marketing agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-marketing">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Marketing Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
              <a href="/s/index-mobile-app">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img7.jpg' | asset_url }}" alt="Tailwind template Mobile app agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-mobile-app">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Mobile App Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <a href="/s/index-seo">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img8.jpg' | asset_url }}" alt="Tailwind SEO agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-seo">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">SEO Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <a href="/s/index-social-media">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img9.jpg' | asset_url }}" alt="Tailwind template social media marketing agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-social-media">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Social Marketing Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <a href="/s/index-web-design">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img10.jpg' | asset_url }}" alt="Tailwind template web design agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-web-design">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Web Design Agency</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <a href="/s/index-rtl">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img11.jpg' | asset_url }}" alt="Tailwind template RTL agency">
              </a>
              <div class="flex-1 p-5">
                <a href="/s/index-rtl">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">RTL Mode</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>

          <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
            <!-- demo card -->
            <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
              <a href="#">
                <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img12.jpg' | asset_url }}" alt="Tailwind Web Template agency">
              </a>
              <div class="flex-1 p-5">
                <a href="#">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Template Dev (Current Page)</h3>
                </a>
              </div>
            </div><!-- end demo card -->
          </div>
        </div><!-- end row -->
      </div>
    </div>
    <!-- End demo -->
    
    <!-- =========={ about }==========  -->
    <div id="about" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-6">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Why must TailPro ?</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Design trends have changed, loading speed and web vital is a new era. <br> The TailPro concept is simple design, fast loading, and optimized Baklib CMS.</p>
        </header><!-- end section header -->

        <!-- showcase  -->
        <div class="flex flex-wrap flex-row -mx-4 mb-5">
          <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 self-center">
            <div class="px-12 lg:px-4 mb-12 lg:my-0">
              <img src="{{ 'images/img-min/research.svg' | asset_url }}" class="max-w-full h-auto w-full" alt="landing page">
            </div>
          </div>

          <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 py-6">
            <!-- processs vertical -->
            <ol>
              <li class="flex wow fadeInUp" data-wow-duration="1s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      1
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Baklib CMS</h3>
                  <p>TailPro is the first Tailwind Agency template with <a rel="noopener" target="_blank" href="https://web.dev/learn-web-vitals/">Baklib CMSs</a> feature.</p>
                </div>
              </li>

              <li class="flex wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      2
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Fast Loading Time</h3>
                  <p>TailPro uses lightweight plugins and components to optimize loading speed.</p>
                </div>
              </li>

              <li class="flex wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      3
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Progressive Web App</h3>
                  <p>Supports the PWA feature from Google to make landing pages installable like an App on a smartphone.</p>
                </div>
              </li>
            </ol><!-- end processs vertical -->
          </div>
        </div>

        <!-- showcase  -->
        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 self-center lg:order-2">
            <div class="px-12 lg:px-4 mb-12 lg:my-0">
              <img src="{{ 'images/img-min/development.svg' | asset_url }}" class="max-w-full h-auto w-full" alt="landing page">
            </div>
          </div>

          <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 py-6 lg:order-1">
            <!-- processs vertical -->
            <ol>
              <li class="flex wow fadeInUp" data-wow-duration="1s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      4
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Vanilla Javascript</h3>
                  <p>Uses pure vanilla javascript and no Jquery dependency to optimize loading speed.</p>
                </div>
              </li>

              <li class="flex wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      5
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Premium Plugins</h3>
                  <p>Included premium plugins like Lightgallery, Isotope and Flickity. The quality of plugins is also always maintained.</p>
                </div>
              </li>

              <li class="flex wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="relative flex-shrink-0 w-16 text-center">
                  <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                  <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                    <span class="text-primary-700 text-xl">
                      6
                    </span>
                  </div>
                </div>

                <div class="ms-4 mb-4 lg:ms-6">
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Pure Svg Icons</h3>
                  <p>Uses pure svg icons from Tailwind Icons and Ionicons for optimize loading speed</p>
                </div>
              </li>
            </ol><!-- end processs vertical -->
          </div>
        </div>
      </div>
    </div>
    <!-- End about -->

    <!-- =========={ pricing }==========  -->
    <div id="pricing" class="relative py-20 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Our Pricing</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">No additional costs. Pay only one time and free for next update!</p>
        </header><!-- end section header -->

        <div class="pt-6">
          <div class="flex flex-wrap flex-row -mx-4 justify-center">
            <div class="flex-shrink max-w-full w-full sm:w-11/12 md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="px-6 md:px-2 lg:px-4">
                <!-- pricing table -->
                <div class="relative py-16 px-12 mb-12 lg:-mt-6 bg-primary-700 text-gray-100 border border-gray-200 dark:border-gray-700 shadow-xl text-center rounded-md">
                  <!-- ribbon -->
                  <div class="absolute top-0 end-0 w-36 h-36 text-sm">
                    <span class="absolute top-4 end-0 px-4 py-2 block align-center shadow bg-yellow-300 text-gray-800">Popular</span>
                  </div>
                  <!-- pricing title -->
                  <h3 class="text-lg mb-4 font-semibold uppercase text-white">Single</h3>
                  <div class="pb-2">
                    <h4 class="text-4xl mb-2 font-semibold text-yellow-300"><small>$</small>39</h4>
                  </div>
                  <!-- pricing content -->
                  <ul class="space-y-6 mt-4 mb-12">
                    <li>1 End products</li>
                    <li>1 Personal or client</li>
                    <li>Lifetime Update</li>
                    <li>Supports 24/7</li>
                    <li>Most Popular</li>
                    <li>Can't product sold</li>
                    <li>Can't for generators</li>
                  </ul>
                  <!-- Pricing Button -->
                  <div class="py-2">
                    <a href="#" rel="noopener" class="py-3 px-5 -ms-1 rounded-md leading-5 text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0">
                      Install Template
                    </a>
                  </div>
                </div><!-- end pricing table -->
              </div>
            </div>

            <div class="flex-shrink max-w-full w-full sm:w-11/12 md:w-1/2 lg:w-1/3 px-4 wow fadeInUp" data-wow-duration="1s">
              <div class="px-6 md:px-2 lg:px-4">
                <!-- pricing table -->
                <div class="relative py-16 px-12 mb-12 bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 shadow-xl text-center rounded-md">
                  <!-- pricing Title -->
                  <h3 class="text-lg mb-4 font-semibold uppercase">Extended</h3>
                  <div class="pb-2">
                    <h4 class="text-4xl mb-2 font-semibold text-primary-700"><small>$</small>799</h4>
                  </div>
                  <!-- pricing content -->
                  <ul class="space-y-6 mt-4 mb-12">
                    <li>1 End products</li>
                    <li>1 Personal or client</li>
                    <li>Lifetime Update</li>
                    <li>Supports 24/7</li>
                    <li>Can Use in product sold</li>
                    <li>Can't for generators</li>
                  </ul>
                  <!-- Pricing Button -->
                  <div class="py-2">
                    <a href="#" rel="noopener" class="py-3 px-5 -ms-1 rounded-md leading-5 text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">Install Template</a>
                  </div>
                </div><!-- end pricing table -->
              </div>
            </div>

            <div class="flex-shrink max-w-full w-full px-4">
              <p class="text-center font-small mb-0">
                <a class="text-gray-500" rel="noopener" href="https://tailwindtemplate.net/license/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" class="inline me-2" fill="currentColor" width="1rem" height="1rem" viewBox="0 0 640 512"><path d="M256 336h-.02c0-16.18 1.34-8.73-85.05-181.51-17.65-35.29-68.19-35.36-85.87 0C-2.06 328.75.02 320.33.02 336H0c0 44.18 57.31 80 128 80s128-35.82 128-80zM128 176l72 144H56l72-144zm511.98 160c0-16.18 1.34-8.73-85.05-181.51-17.65-35.29-68.19-35.36-85.87 0-87.12 174.26-85.04 165.84-85.04 181.51H384c0 44.18 57.31 80 128 80s128-35.82 128-80h-.02zM440 320l72-144 72 144H440zm88 128H352V153.25c23.51-10.29 41.16-31.48 46.39-57.25H528c8.84 0 16-7.16 16-16V48c0-8.84-7.16-16-16-16H383.64C369.04 12.68 346.09 0 320 0s-49.04 12.68-63.64 32H112c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h129.61c5.23 25.76 22.87 46.96 46.39 57.25V448H112c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                  Full license details
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End pricing -->

    <!-- =========={ features }==========  -->
    <div id="features" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-6">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Template Features</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Not only will your website be fast, but you will also have<br> the latest features that will make it attractive.</p>
        </header><!-- end section header -->

        <div class="flex flex-wrap flex-row -mx-4">
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><rect x="64" y="320" width="48" height="160" rx="8" ry="8" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect><rect x="288" y="224" width="48" height="256" rx="8" ry="8" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect><rect x="400" y="112" width="48" height="368" rx="8" ry="8" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect><rect x="176" y="32" width="48" height="448" rx="8" ry="8" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Baklib CMS Optimized</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><rect x="128" y="16" width="256" height="480" rx="48" ry="48" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect><path d="M176,16h24a8,8,0,0,1,8,8h0a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16h0a8,8,0,0,1,8-8h24" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Fully Responsive</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><line x1="48" y1="112" x2="336" y2="112" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><line x1="192" y1="64" x2="192" y2="112" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><polyline points="272 448 368 224 464 448" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></polyline><line x1="301.5" y1="384" x2="434.5" y2="384" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><path d="M281.3,112S257,206,199,277,80,384,80,384" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M256,336s-35-27-72-75-56-85-56-85" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">RTL Supported</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg viewBox="0 0 48 31" class="h-4"><path fill-rule="evenodd" clip-rule="evenodd" d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z" fill="currentColor"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Latest Tailwindcss</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1.5rem" height="1.5rem" viewBox="0 0 256 512">
                    <path d="M209.8 391.1l-14.1 24.6-4.6 80.2c0 8.9-28.3 16.1-63.1 16.1s-63.1-7.2-63.1-16.1l-5.8-79.4-14.9-25.4c41.2 17.3 126 16.7 165.6 0zm-196-253.3l13.6 125.5c5.9-20 20.8-47 40-55.2 6.3-2.7 12.7-2.7 18.7.9 5.2 3 9.6 9.3 10.1 11.8 1.2 6.5-2 9.1-4.5 9.1-3 0-5.3-4.6-6.8-7.3-4.1-7.3-10.3-7.6-16.9-2.8-6.9 5-12.9 13.4-17.1 20.7-5.1 8.8-9.4 18.5-12 28.2-1.5 5.6-2.9 14.6-.6 19.9 1 2.2 2.5 3.6 4.9 3.6 5 0 12.3-6.6 15.8-10.1 4.5-4.5 10.3-11.5 12.5-16l5.2-15.5c2.6-6.8 9.9-5.6 9.9 0 0 10.2-3.7 13.6-10 34.7-5.8 19.5-7.6 25.8-7.6 25.8-.7 2.8-3.4 7.5-6.3 7.5-1.2 0-2.1-.4-2.6-1.2-1-1.4-.9-5.3-.8-6.3.2-3.2 6.3-22.2 7.3-25.2-2 2.2-4.1 4.4-6.4 6.6-5.4 5.1-14.1 11.8-21.5 11.8-3.4 0-5.6-.9-7.7-2.4l7.6 79.6c2 5 39.2 17.1 88.2 17.1 49.1 0 86.3-12.2 88.2-17.1l10.9-94.6c-5.7 5.2-12.3 11.6-19.6 14.8-5.4 2.3-17.4 3.8-17.4-5.7 0-5.2 9.1-14.8 14.4-21.5 1.4-1.7 4.7-5.9 4.7-8.1 0-2.9-6-2.2-11.7 2.5-3.2 2.7-6.2 6.3-8.7 9.7-4.3 6-6.6 11.2-8.5 15.5-6.2 14.2-4.1 8.6-9.1 22-5 13.3-4.2 11.8-5.2 14-.9 1.9-2.2 3.5-4 4.5-1.9 1-4.5.9-6.1-.3-.9-.6-1.3-1.9-1.3-3.7 0-.9.1-1.8.3-2.7 1.5-6.1 7.8-18.1 15-34.3 1.6-3.7 1-2.6.8-2.3-6.2 6-10.9 8.9-14.4 10.5-5.8 2.6-13 2.6-14.5-4.1-.1-.4-.1-.8-.2-1.2-11.8 9.2-24.3 11.7-20-8.1-4.6 8.2-12.6 14.9-22.4 14.9-4.1 0-7.1-1.4-8.6-5.1-2.3-5.5 1.3-14.9 4.6-23.8 1.7-4.5 4-9.9 7.1-16.2 1.6-3.4 4.2-5.4 7.6-4.5.6.2 1.1.4 1.6.7 2.6 1.8 1.6 4.5.3 7.2-3.8 7.5-7.1 13-9.3 20.8-.9 3.3-2 9 1.5 9 2.4 0 4.7-.8 6.9-2.4 4.6-3.4 8.3-8.5 11.1-13.5 2-3.6 4.4-8.3 5.6-12.3.5-1.7 1.1-3.3 1.8-4.8 1.1-2.5 2.6-5.1 5.2-5.1 1.3 0 2.4.5 3.2 1.5 1.7 2.2 1.3 4.5.4 6.9-2 5.6-4.7 10.6-6.9 16.7-1.3 3.5-2.7 8-2.7 11.7 0 3.4 3.7 2.6 6.8 1.2 2.4-1.1 4.8-2.8 6.8-4.5 1.2-4.9.9-3.8 26.4-68.2 1.3-3.3 3.7-4.7 6.1-4.7 1.2 0 2.2.4 3.2 1.1 1.7 1.3 1.7 4.1 1 6.2-.7 1.9-.6 1.3-4.5 10.5-5.2 12.1-8.6 20.8-13.2 31.9-1.9 4.6-7.7 18.9-8.7 22.3-.6 2.2-1.3 5.8 1 5.8 5.4 0 19.3-13.1 23.1-17 .2-.3.5-.4.9-.6.6-1.9 1.2-3.7 1.7-5.5 1.4-3.8 2.7-8.2 5.3-11.3.8-1 1.7-1.6 2.7-1.6 2.8 0 4.2 1.2 4.2 4 0 1.1-.7 5.1-1.1 6.2 1.4-1.5 2.9-3 4.5-4.5 15-13.9 25.7-6.8 25.7.2 0 7.4-8.9 17.7-13.8 23.4-1.6 1.9-4.9 5.4-5 6.4 0 1.3.9 1.8 2.2 1.8 2 0 6.4-3.5 8-4.7 5-3.9 11.8-9.9 16.6-14.1l14.8-136.8c-30.5 17.1-197.6 17.2-228.3.2zm229.7-8.5c0 21-231.2 21-231.2 0 0-8.8 51.8-15.9 115.6-15.9 9 0 17.8.1 26.3.4l12.6-48.7L228.1.6c1.4-1.4 5.8-.2 9.9 3.5s6.6 7.9 5.3 9.3l-.1.1L185.9 74l-10 40.7c39.9 2.6 67.6 8.1 67.6 14.6zm-69.4 4.6c0-.8-.9-1.5-2.5-2.1l-.2.8c0 1.3-5 2.4-11.1 2.4s-11.1-1.1-11.1-2.4c0-.1 0-.2.1-.3l.2-.7c-1.8.6-3 1.4-3 2.3 0 2.1 6.2 3.7 13.7 3.7 7.7.1 13.9-1.6 13.9-3.7z"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Gulp Workflow</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Google Fonts</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-circle-square" viewBox="0 0 16 16">
                  <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6z"></path>
                  <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a6.953 6.953 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79c.097.324.17.658.22 1z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Pure Svg Icons</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><path d="M461.93,261.05c-2-4.76-6.71-7.83-11.67-9.49L263.08,177.08a23.78,23.78,0,0,0-14.17,0l-187,74.52c-5,1.56-9.83,4.77-11.81,9.53s-2.94,9.37-1,15.08L95.63,395.36A7.46,7.46,0,0,0,103.1,400c26.69-1.68,50.31-15.23,68.38-32.5a7.66,7.66,0,0,1,10.49,0C201.29,386,227,400,256,400s54.56-14,73.88-32.54a7.67,7.67,0,0,1,10.5,0c18.07,17.28,41.69,30.86,68.38,32.54a7.45,7.45,0,0,0,7.46-4.61l46.7-119.16C464.9,271.45,463.91,265.82,461.93,261.05Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"></path><path d="M416,473.14a6.84,6.84,0,0,0-3.56-6c-27.08-14.55-51.77-36.82-62.63-48a10.05,10.05,0,0,0-12.72-1.51c-50.33,32.42-111.61,32.44-161.95.05a10.09,10.09,0,0,0-12.82,1.56c-10.77,11.28-35.19,33.3-62.43,47.75A7.15,7.15,0,0,0,96,472.72a6.73,6.73,0,0,0,7.92,7.15c20.85-4.18,41-13.68,60.2-23.83a8.71,8.71,0,0,1,8-.06A185.14,185.14,0,0,0,340,456a8.82,8.82,0,0,1,8.09.06c19.1,10,39.22,19.59,60,23.8a6.72,6.72,0,0,0,7.95-6.71Z"></path><path d="M320,96V72a24.07,24.07,0,0,0-24-24H216a24.07,24.07,0,0,0-24,24V96" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M416,233V144a48.14,48.14,0,0,0-48-48H144a48.14,48.14,0,0,0-48,48v92" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line x1="256" y1="183.6" x2="256" y2="396.45" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Ionicons</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Free Source Images (link)</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><rect x="227.6" y="213.1" width="28.4" height="57.1" style="fill:currentColor"></rect><path d="M0,156V327.4H142.2V356H256V327.4H512V156ZM142.2,298.9H113.8V213.2H85.3v85.7H28.4V184.6H142.2Zm142.2,0H227.5v28.6H170.6V184.6H284.4V298.9Zm199.2,0H455.2V213.2H426.8v85.7H398.4V213.2H370v85.7H313.1V184.6H483.8V298.9Z" style="fill:currentColor"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Npm Software</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><rect x="64" y="176" width="384" height="256" rx="28.87" ry="28.87" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"></rect><line x1="144" y1="80" x2="368" y2="80" style="stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"></line><line x1="112" y1="128" x2="400" y2="128" style="stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"></line></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Snippets example</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                  <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Clean Code</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
                  <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Tailwind components</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-journal-code" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"></path>
                  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
                  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Well Documented</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-700" width="1.2rem" height="1.2rem" fill="currentColor" viewBox="0 0 512 512"><path d="M330.7,352l77.72-192H356.9L303.74,284.07,265.93,160H226.32L185.74,284.07l-28.63-56.53L131.21,307l26.3,45h50.7l36.68-111.27,35,111.27Z"></path><path d="M48.79,286.09H80.44a93.39,93.39,0,0,0,25.62-3.21l8.18-25.19,22.88-70.39a55.75,55.75,0,0,0-6-7.82Q113.54,160,79.59,160H0V352H48.79Zm41.9-81.92q6.89,6.92,6.88,18.52t-6,18.53q-6.64,7.62-24.44,7.61H48.79V197.25H67.21q16.59,0,23.48,6.92ZM376.85,317.61l14.79-37.25h42.69l-20.26-56.51L439.41,160,512,352H458.47l-12.4-34.39Z"></path></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Progressive Web App</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><path d="M320,336h76c55,0,100-21.21,100-75.6s-53-73.47-96-75.6C391.11,99.74,329,48,256,48c-69,0-113.44,45.79-128,91.2-60,5.7-112,35.88-112,98.4S70,336,136,336h56" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="192 400.1 256 464 320 400.1" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="224" x2="256" y2="448.03" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Free Updates</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Alpine Js</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Flickity (premium)</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Lightgallery js (premium)</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Hc Sticky</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Lazyload</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Typed Animate</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Device Screenshot</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Wow Animate Js</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Jarallax</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Purge minify</p>
              </div>
            </div>
          </div>
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3 px-4 pb-2 mb-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="flex items-center p-4 rounded shadow-md hover:shadow-lg">
              <div class="text-center rounded me-4 text-primary-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                </svg>
              </div>
              <div class="capitalize">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Animate css</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End features -->

    <!-- =========={ Started }==========  -->
    <div id="started" class="relative py-20 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">Getting Started</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Start your project with <span class="text-primary-700 font-semibold">TailPro</span> The easiest way to create <br>a landing page Agency with Optimized by Baklib CMS..</p>
        </header><!-- end section header -->

        <div class="flex flex-wrap flex-col lg:flex-row -mx-4">
          <div class="flex-1 px-4 mb-7 lg:mb-4">
            <div class="text-center">
              <a href="#" target="_blank" class="py-3 px-5 -ms-1 rounded-md leading-5 text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">Download Now <span class="py-1 px-3 text-xs leading-3 font-semibold rounded bg-yellow-300 text-gray-800 ms-5">v 1.4.0</span></a>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <!-- End started -->
  </main>