
  <main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="relative py-12 jarallax">
      <!-- background parallax -->
      <img class="jarallax-img" src="{{ 'images/img-min/bg-planet.jpg' | asset_url }}" alt="title">
      <!-- background overlay -->
      <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
          <!-- content -->
          <div class="max-w-full w-full lg:w-7/12 px-4">
            <nav aria-label="breadcrumb">
              <ol class="flex flex-wrap justify-center bg-transparent text-sm mb-0 space-x-1">
                <li>
                  <a href="#" class="text-gray-200 hover:text-white">
                    Home
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-gray-200 hover:text-white">
                    Pages
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 inline-block transform ltr:rotate-0 rtl:rotate-180" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 512 512"><polyline points="184 112 328 256 184 400" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                  </a>
                </li>
                <li class="hidden md:block text-white" aria-current="page">Portfolio</li>
              </ol>
            </nav>

            <div class="mt-0 pt-6 text-center">
              <h1 class="text-2xl md:text-3xl leading-normal mb-2 font-semibold text-white">Portfolio</h1>    
              <hr class="block w-12 h-0.5 mx-auto my-5 bg-yellow-300 border-yellow-300">       
            </div>
          </div><!-- end content -->
        </div>
      </div>
    </div><!-- End hero -->

    <!-- =========={ About }==========  -->
    <div id="about" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 justify-between">
          <div class="max-w-full w-full lg:w-1/2 px-4 wow fadeInRight animated" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
            <!-- About 2 Thumb -->
            <div class="text-center">
              <div class="px-12 md:px-16 mb-12 lg:mb-0">
                <img class="max-w-full h-auto" src="{{ 'images/img-min/creative.svg' | asset_url }}" alt="company profile">
              </div>
            </div>
          </div>
          <div class="max-w-full w-full lg:w-1/2 px-4 wow flipInX animated" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
            <h2 class="text-3xl md:text-4xl leading-normal mb-4 font-bold text-gray-800 dark:text-gray-100">Amazing <span class="font-light">Story</span></h2>
            <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">You will get all statistic from your business. tailwiki tells you exactly what kind of financial information you need to enter and then it does all the calculations automatically using built-in formulas. Lorem Ipsum has been the industry's standard dummy.</p>
            <a href="#portfolio" class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0">
              Our Portfolio
              <svg class="bi bi-chevron-double-right inline-block ms-2 transform ltr:rotate-0 rtl:rotate-180" width=".8rem" height=".8rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End About -->

    <!-- =========={ PORTFOLIO }==========  -->
    <div id="portfolio" class="relative py-20 md:py-24 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
      <div x-data="{ tab: 'all' }" class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100"><span class="font-light">Our</span> Portfolio</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->
      
        <!-- navigation -->
        <div class="space-x-5 text-center">
          <button @click.prevent="tab = 'all'" :class="{ 'text-primary-700' : tab === 'all' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none text-primary-700">
            All
          </button>

          <button @click.prevent="tab = 'web'" :class="{ 'text-primary-700' : tab === 'web' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Web
          </button>

          <button @click.prevent="tab = 'graphic'" :class="{ 'text-primary-700' : tab === 'graphic' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Graphic
          </button>

          <button @click.prevent="tab = 'photo'" :class="{ 'text-primary-700' : tab === 'photo' }" class="inline-block  bg-transparent border-0 outline-none mb-6 md:mb-12 focus:text-primary-700 focus:ring-0 focus:outline-none">
            Photograpy
          </button>
        </div><!-- end navigation -->

        <!-- Portfolio Content -->
        <div class="flex flex-wrap flex-row -mx-4 lightgallery-thumbnail">
          <figure x-show="tab === 'graphic' || tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_1.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_1.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Logo Design</h3>
                <small class="d-block">Branding</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_2.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_2.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Web Development</h3>
                <small class="d-block">Web</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_3.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_3.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Graphic Design</h3>
                <small class="d-block">Graphic</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'graphic' || tab === 'all'" data-src="{{ 'images/img-min/project_4.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_4.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Video Marketing</h3>
                <small class="d-block">Video</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'photo' || tab === 'all'" data-src="{{ 'images/img-min/project_5.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_5.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Photography</h3>
                <small class="d-block">Photo</small>
              </figcaption>
            </div>
          </figure>

          <figure x-show="tab === 'web' || tab === 'all'" data-src="{{ 'images/img-min/project_6.jpg' | asset_url }}" class="flex-shrink max-w-full px-4 w-full sm:w-1/2 lg:w-1/3 group" data-sub-html="title images">
            <div class="relative overflow-hidden cursor-pointer mb-6">
              <img class="block w-full h-auto transform duration-500 hover:scale-125" src="{{ 'images/img-min/project_6.jpg' | asset_url }}" alt="Image Description">
              <figcaption class="absolute inset-x-0 bottom-0 h-20 transition-opacity duration-500 ease-in opacity-0 group-hover:opacity-100 overflow-hidden px-4 py-2 text-gray-100 bg-primary-700 text-center">
                <h3 class="text-base leading-normal font-semibold my-1 text-gray-100">Apps Development</h3>
                <small class="d-block">Apps</small>
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
    </div><!-- End portfolio -->
  </main>